body{
  background-color: black;
  background-image: url("http://adriandelpha.com/art/battlestar.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;

}

h1 {
  text-align: center;

}

.container {
  display: flex;
}

ul {
  list-style:  none;
  margin: auto;

}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
  border-bottom-style: solid;
  border-bottom: 2px;
  border-bottom-color: #999999;
  margin-bottom: 10px;
  background-color: rgba(1,1,1,0.3);
}

span {
  padding: 20px;
}

a {
  padding: 20px;
  text-decoration: none;
  bottom: 50px;
  right:50px;
  position: fixed;
  border-radius: 20px;
  background-color: rgba(1,1,1,0.7);
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  background-color: rgba(51,51,51,0.7);
}


